.container {
  height: 800px;
  margin: 30px auto;
  width: 800px;
}

.player-board {
  background-size: contain;
  /*border: 1px solid white;*/
  box-sizing: border-box;
  /*float: left;*/
  position: relative;
  float:left;
  height: 650px;
  width: 200px;
}

.piece-generator {
  background-size: contain;
  /*border: 1px solid white;*/
  box-sizing: border-box;
  /*float: left;*/
  height: 650px;
  width: 200px;
}

.cell {
  background-size: contain;
  /*border: 1px solid white;*/
  box-sizing: border-box;
  /*float: left;*/
  height: 13px;
  width: 13px;
}

/*.board {
	background-color: #E3D4AB;
}*/

.piece {
  /*background-color: #95BE69;*/
}

/*.food {
	background-color: red;
}*/
