.container{
  margin-top: 100px;
  margin-bottom: 200px;
  background-color: #00FFFF;
  font-family: fantasy;

  .custom-btn{
    width: 200px;
    background: none;
    border:none;
    outline:none;
  }
  .custom-btn:hover{
    width: 200px;

    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
  }

  .custom-btn:active{
    background: none;
    border:none;
    outline:none;
  }

  .menu-layout-start{
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #00FFFF;

    .title{
      margin-bottom: 100px;
      h3{
        text-align: center;
        font-size: 50px;
        letter-spacing: 10px;

        -webkit-animation: color-change 1s infinite;
        -moz-animation: color-change 1s infinite;
        animation: color-change 1s infinite;
      }
    }
  }

  .menu-layout-restart{
    background-color: #00FFFF;
    margin-bottom: 100px;
  }


  .ingame-layout{
    height: 450px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #00FFFF;
    // box-sizing: border-box;
    // background-size: contain;

    #row-players{
      height: 600px;

      .player-layout{
        box-sizing: border-box;
        height: 450px;
        float:left;
        width: 400px;

        .player-board {
          position: relative;
          height: 400px;
          width: 100%;

          .cell {
            height: 13px;
            width: 13px;
          }

          .piece-generator {

            .cell {
              //the height and width of the blocks in the DOM
              height: 13px;
              width: 13px;
            }
          }
        }

        .player-inplaymenu {
          background-size: contain;
          height: 50px;
          width: 100%;

          .score{
            background-size: contain;
            box-sizing: border-box;
            height: inherit;
            width: 100%;
            padding: 0;

            h3{
              margin: 0;
              margin-top: 10px;
              text-align: left;

              -webkit-animation: color-change 1s infinite;
              -moz-animation: color-change 1s infinite;
              animation: color-change 1s infinite;
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes color-change {
  0% { color: red; }
  20% { color: blue; }
  40% { color: green; }
  60% { color: purple; }
  80% { color: grey; }
  100% { color: red; }
}
@-moz-keyframes color-change {
  0% { color: red; }
  20% { color: blue; }
  40% { color: green; }
  60% { color: purple; }
  80% { color: grey; }
  100% { color: red; }
}

@keyframes color-change {
  0% { color: red; }
  20% { color: blue; }
  40% { color: green; }
  60% { color: purple; }
  80% { color: grey; }
  100% { color: red; }
}
